<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <div class="row">
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam odio, dolor 
            molestiae iste quis saepe assumenda fugit, placeat nobis veniam maxime sint porro aliquam, 
            voluptates velit dolorem qui cumque corporis minus animi ad error cupiditate! Quae adipisci, 
            wdeleniti asperiores nemo odit iste numquam suscipit aliquam?</p>
    </div>
</div>

<hr>

<%- include('./partials/footer.ejs') %>
